/* עיצוב כללי */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

/* עיצוב נוסף לפונטים */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', sans-serif;
}

/* אנימציות */
.main-img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .navbar ul li {
        display: block;
        margin-right: 0;
        margin-bottom: 10px;
    }
}

/* עיצוב כללי */
.header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

.header h1 {
    margin: 0;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
}

.navbar ul li {
    display: inline;
    margin-right: 20px;
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
}

.back-button {
    border: solid silver;
    padding: 5px;
    border-radius: 10px;
    color: crimson;
    background-color: antiquewhite;
}

.main-content {
    padding: 20px;
}

.section {
    margin-bottom: 20px;
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

/* עיצוב קישורים */
.link {
    color: #007bff;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

/* עיצוב כותרות */
.title {
    margin-top: 0;
}

.title-secondary {
    color: #333;
}

/* עיצוב רשימות */
.list {
    padding-left: 20px;
}

/* עיצוב תמונות */
.image {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
}

.flex-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.flex-item {
    min-width: 200px;
    text-align: center;
    border: solid gray;
    border-radius: 10px;
    padding: 5px;
    box-shadow: gray 0px 0px 50px 5px;
    max-width: 350px;
}

.preview-img {
    max-width: 300px;
}

.main-img {
    max-width: 500px;
    width: 100%;
    margin: 0 0 10px 20px;
}

.main-link {
    color: brown;
    font-size: 150%;
}

.main-title {
    font-size: 50px;
    margin: 10px;
}

.main-paragraph-under-img {
    font-size: 17px;
}